
@{
    ViewBag.Title = "About";
}
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!--start-about-->
<div class="about">
    <div class="container">
        <div class="about-main">
            <div class="about-top">
                <div class="">


                    <div class="">
                        <h2 class="text-black">How We Started</h2>
                    </div>
                    <p style="font-size:20px;">
                        An online Bidding is a web Application which is held over the internet.
                        The increasing popularity of using online bidding has led to an increase in interning use.
                        People don’t have time to go and waste their time to buy the product.
                        Now everyone wants to save his time.
                        The basic idea of Online Biddding Website is to provide a user-friendly website for the buyers and sellers to auction their products easily.
                        The products available on this website for auction will be authenticated products. This will be a safe environment for online users
                    </p>
                </div>
            </div>
        </div>
    </div>
    
     
    <div class="about-text">

        <div class="clearfix"> </div>
    </div>
</div>
    </div>
</div>
<!--end-about-->
<!--start-team-->
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="team">
    <div class="container">
        <div class="team-main">
            <h3>Our Team</h3>
            <div class="team-top">
                <div class="col-md-4 team-top-left">
                    <img src=@Url.Content("~/Content/images/pic1.jpg")>
                    >
                </div>
                <div class="col-md-4 team-top-left">
                    <img src=@Url.Content("~/Content/images/pic2.jpg")>
                     
                </div>
                <div class="col-md-4 team-top-left">
                    <img src=@Url.Content("~/Content/images/pic3.jpg")>
                     
                </div>
              
            </div>
        </div>
    </div>
</div>
<!--end-team-->

<br /><br /><br />



<script src="~/Content/auction_js.js"></script>


