
@{
    ViewBag.Title = "Account_selecter";
    //Layout = null;
}


<br />
<br />
<br />
<br />
@*<ul style="margin-left:500px;  margin-top:50px;"   >
           <div class="btn-warning" style="font-size:40px;  margin-right:550px; margin-left:30px;"  >
            @Html.ActionLink("AS SELLER", "Viewuser", "auction_portal")
               </div>
            <br />
            <br />
            <div class="btn-success" style="font-size:40px; margin-right:550px; margin-left:30px;">
            @Html.ActionLink("AS BIDDER", "Bidder", "auction_portal")
                </div>
        </ul>
    </div>*@
<style>
    .menu{

        margin-left:100px;
    }
    </style>
<body style="background-image:url('../Content/images/a.png');background-repeat:no-repeat; background-size:cover; padding-bottom:700px;">




    <div class="intro-text text-center text-md-left" style="margin-left:240px; margin-top:400px;">
        <h1 class="mb-4">Online Bidding is where everyone goes to shop,sell and give,While discovering variety and affordability.</h1>
        <div class="btn-warning" style="width:260px; height:90px; font-size:50px;  margin-left:640px;" >
            <p>
                <a href=""> @Html.ActionLink("Login Now", "loginone", "auction_portal")</a>
            </p>
        </div>
    </div>



    <div class="container" style="margin-top:200px;">
        <div class="row align-items-start align-items-md-center justify-content-end">
            <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">

            </div>
        </div>
    </div>

</body>


<div class="menu">
<h2>How it work</h2>
<div class="divider divider-default"></div>
<div class="range range-xs-center range-50">
    <div class="cell-sm-9 cell-md-6 cell-lg-3">
        <div class="thumbnail-classic unit unit-sm-horizontal unit-md-vertical unit-md-horizontal unit-lg-vertical">
            <div class="thumbnail-classic-icon unit-left"><span class="icon"></span></div>
            <div class="thumbnail-classic-caption unit-body">
                <h3 class="thumbnail-classic-title">register</h3>
                <hr class="divider divider-default divider-sm">
                <h3 class="thumbnail-classic-text">To start using our auction, you’ll need to register. It’s completely free!</h3>
            </div>
        </div>
    </div>
    <div class="cell-sm-9 cell-md-6 cell-lg-3">
        <div class="thumbnail-classic unit unit-sm-horizontal unit-md-vertical unit-md-horizontal unit-lg-vertical">
            <div class="thumbnail-classic-icon unit-left"><span class="icon"></span></div>
            <div class="thumbnail-classic-caption unit-body">
                <h2 class="thumbnail-classic-title">Buy or Bid</h2>
                <hr class="divider divider-default divider-sm">
                <h3 class="thumbnail-classic-text">You can instantly buy or place a bid  on a desired product right after registration.</h3>
            </div>
        </div>
    </div>
    <div class="cell-sm-9 cell-md-6 cell-lg-3">
        <div class="thumbnail-classic unit unit-sm-horizontal unit-md-vertical unit-md-horizontal unit-lg-vertical">
            <div class="thumbnail-classic-icon unit-left"><span class="icon"></span></div>
            <div class="thumbnail-classic-caption unit-body">
                <h2 class="thumbnail-classic-title">Submit a Bid</h2>
                <hr class="divider divider-default divider-sm">
                <h3 class="thumbnail-classic-text">Submitting a bid is fast and easy. The process takes approximately 5 minutes.</h3>
            </div>
        </div>
    </div>

    <div class="cell-sm-9 cell-md-6 cell-lg-3">
        <div class="thumbnail-classic unit unit-sm-horizontal unit-md-vertical unit-md-horizontal unit-lg-vertical">
            <div class="thumbnail-classic-icon unit-left"><span class="icon"></span></div>
            <div class="thumbnail-classic-caption unit-body">
                <h2 class="thumbnail-classic-title">Win</h2>
                <hr class="divider divider-default divider-sm">
                <h3 class="thumbnail-classic-text">Easily win your bid and enjoy owning the product you dream of.</h3>
                <br/>
            </div>
        </div>
    </div>
</div>
</div>