
@{
    ViewBag.Title = "Contact";
}

<h2></h2>




<div class="container">
    <a href="#"><img src=@Url.Content("~/Content/images/pic1.jpeg") alt=""></a>
    <h2>Manager of Organization </h2>
    <h3>  Hina Shoukat</h3>
    <p>Contact us </p>
    <p> Mobile:03324576852</p>
    <p>Email:hinashoukat@gmail.com </p>
    <p>Address: Vehari </p>
</div>

<br>
<br>

<br>
<br>




<!--footer end here-->
<script src="~/Content/auction_js.js"></script>

<!--footer end here-->
<br><br><br><br><br>
<br><br><br>